::selection {
    color: #FFF;
    background: #EA5FC9;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    max-width: 50em;
    /* max-width: 800px; */
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    color: #333;
    background: #FEFEFE;
    border-left: #777;
    border-left-width: 2px;
    border-left-style: solid;
  }

  p {
    text-align: justify;
  }

  li {
    list-style-type: none
  }

  a {
    color: inherit;
  }
  a:hover {
    color: #EA5FC9;
  }

  dd {
    padding-left: 10em;
    margin-bottom: 0.6em;
  }
  dt {
    font-family: monospace;
    font-size: medium;
    font-weight: 600;
    float: left;
    clear: left;
  }

  .org {
    font-style: italic;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    vertical-align: -0.125em;
  }

  .container-head {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
  }

  .container-contact {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: end;
  }